<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<h3 th:text="'Hello, ' + ${order.getUser().getName()}"></h3>
<div>
    <table>
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${order.items}">
            <td th:text="${item.title}"></td>
            <td th:text="${item.color}"></td>
            <td th:text="${item.size}"></td>
            <td th:text="${item.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3 th:text="'Total price: ' + ${total}"></h3>
</div>

</body>
</html>